In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("globaltempByState.csv")

In [4]:
df.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil
5  1855-10-01              25.442                          1.179  Acre  Brazil
6  1855-11-01              25.400                          1.064  Acre  Brazil
7  1855-12-01              24.100                          1.718  Acre  Brazil
8  1856-01-01              25.814                          1.159  Acre  Brazil
9  1856-02-01              24.658                          1.147  Acre  Brazil

In [5]:
## Check the Data Type of Each Column

In [9]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object

In [11]:
## Check the Shape of The Data

In [10]:
df.shape

(645675, 5)